<!DOCTYPE html>
<html lang="en" ng-app="academic-scheduler">
    <head>
        <meta charset="UTF-8">
        <title>Academic Scheduler</title>
        <link rel="stylesheet" href="../css/lib/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../bower_components/ladda/dist/ladda-themeless.min.css">
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <div id="main" ng-controller="MainController">
            <navbar></navbar>

            <div id="error-message"
                 class="popup-field alert alert-danger"
                 ng-show="formStatus.blurForm"> <strong>{{ formStatus.errorMessage }}</strong>
            </div>

            <feedback-form></feedback-form>

            <div class="container container-form"
                 ng-class="{'container-form-blocked':formStatus.blurForm}">

                <div class="col-xs-4 open-slots">
                    <open-slots-table tutorslist="tutors"
                                      timetable="time"></open-slots-table>
                </div>

                <div class="col-xs-8">
                    <form ng-submit="onSubmit()"
                          novalidate="novalidate"
                          name="form"
                          class="form-horizontal">
                        <div class="container">
                            <div class="column-wrapper col-xs-4">
                                <form-field-inline field-name="date">
                                    <input type="date"
                                           class="form-control"
                                           ng-model="formData.date"
                                           ng-change="onDateSelect()"
                                           id="date"
                                           required="required"/>
                                </form-field-inline>

                                <form-field-inline field-name="course">
                                    <select class="form-control"
                                            ng-model="formData.course"
                                            ng-change="onCourseSelect()"
                                            ng-options="c.name for c in courses | toArray | orderBy:'name' "
                                            required="required">
                                        <option value="">Select a course</option>
                                    </select>
                                </form-field-inline>

                                <form-field-inline field-name="time">
                                    <select class="form-control"
                                            ng-model="formData.time"
                                            ng-change="setTutors()"
                                            ng-options="t.value as t.display for t in time"
                                            required="required">
                                        <option value="">Select time</option>
                                    </select>
                                </form-field-inline>

                                <form-field-inline field-name="professor">
                                    <select class="form-control"
                                            ng-model="formData.professor"
                                            ng-options="p for p in professors | orderBy:'p'"
                                            required="required">
                                        <option value="">Select a professor</option>
                                    </select>
                                </form-field-inline>
                            </div>

                            <div class="column-wrapper col-xs-4">
                                <form-field-inline field-name="tutor">
                                    <select class="form-control"
                                            ng-model="formData.tutor"
                                            ng-options="tutor for tutor in tutors[formData.time]"
                                            required="required">
                                    </select>
                                    <div class="checkbox-custom checkbox" ng-show="tutors[formData.time].length == 1">
                                        <label>
                                            <input type="checkbox"
                                                   ng-model="formData.isSpecificTutorRequested">Request this tutor ##
                                        </label>
                                    </div>
                                </form-field-inline>

                                <form-field-inline field-name="student">
                                    <input type="text"
                                           class="form-control"
                                           ng-model="formData.student"
                                           ng-pattern="/\w+\s\w+.*/"
                                           ng-pattern-err-type="badName"
                                           placeholder="First Last"
                                           required="required" />
                                </form-field-inline>

                                <form-field-inline field-name="contact">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Email or Phone"
                                           ng-model="formData.contact"
                                           ng-pattern="/(^(\()?(\d{3})(\))?[-\.\s]?(\d{3})[-\.\s]?(\d{4})$)|(^\S+@\S+\.\S+$)/"
                                           ng-pattern-err-type="badContact"
                                           required="required" />
                                </form-field-inline>

                                <form-field-inline field-name="note">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Optional"
                                           ng-model="formData.note"
                                           id="note" />
                                </form-field-inline>

                                <form-field-inline field-name="signature">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Sign w/ Your Initials"
                                           ng-model="formData.initials"
                                           ng-pattern="/\w\w+/"
                                           ng-pattern-err-type="notSigned"
                                           ng-required-err-type="notSigned"
                                           required="required" />
                                </form-field-inline>
                            </div>
                        </div>

                        <div class="col-xs-4">
                            <clear-button></clear-button>
                        </div>

                        <div class="col-xs-4 col-xs-offset-4">
                            <schedule-button></schedule-button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="container debug"
                 style="padding-top:15px;"
                 ng-show="DEBUG">
                <h4>Tutors</h4>
                <pre>{{ tutors | json}}</pre>
                <h4>Form Data</h4>
                <pre>{{ formData | json }}</pre>
                <h4>Location</h4>
                <pre>{{ formData.selectedLocation |json }}</pre>
                <h4>Settings</h4>
                <pre>{{ settings | json}}</pre>
                <h4>Time</h4>
                <pre>{{ time }}</pre>
            </div>
        </div>

        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/moment/min/moment.min.js"></script>
        <script src="../bower_components/underscore/underscore-min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/angular/angular.min.js"></script>
        <script src="../bower_components/angular-resource/angular-resource.min.js"></script>
        <script src="../bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
        <script src="../bower_components/angular-toArrayFilter/toArrayFilter.js"></script>
        <script src="../bower_components/ladda/dist/spin.min.js"></script>
        <script src="../bower_components/ladda/dist/ladda.min.js"></script>
        <script src="../bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
        <script src="../js/ng-app/app.js"></script>
        <script src="../js/ng-app/controllers.js"></script>
        <script src="../js/ng-app/services.js"></script>
        <script src="../js/ng-app/directives.js"></script>
    </body>
</html>
